h1, h3
{
    text-align:center;
}
h4{
    font-size: 20px;
}
.titre
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
.contenu
{
    background-color:#CCCCCC;
    margin-top:0px;
  
}


a
{
    text-decoration: none;
    color: blue;
   
}
.comment,.italic{
    font-style: italic;
}
body{
    width:70%;
    margin: 0 auto;
}
.container{
margin-top: 100px;
}
